/* side bar */
#sidebardashboard{
  position:fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

#sidebardashboard .sidebar-sticky{
  font-family: 'oswald';
  margin-top: 40%;
}

#sidebardashboard .sidebar-sticky a:hover {
  color: blue;
}

#sidebardashboard .sidebar-sticky a{
  color: white;
}

/* stats */
/* logo */
main .card-img-top{
  padding-top: 10%;
  height: 200px;
  width: 150px;
  
}

/* titre logo */
main .card-title{
  font-family: 'oswald';
  font-weight: bold;
  padding-bottom: 5%;
  font-size: 20px;
}

.container .containerdash{
  margin-top:80%;
}