a {
  color: black;
  
}

a:hover {
  color: blue;
}

.card-img-top{
  height: 100px;
  width: 100px;
  
}

.bg-light{
  box-shadow: 3px 3px 5px #aaa;
}

.ml-auto{
  padding-right: 10px;
  display: right;
}
