/* Events
================= */
/* Edit
========================*/


/* Show
========================*/

.wrap-evenement .card{
    margin: 50px 0;
}
.wrap-evenement .card-header{

    background-color: rgb(1, 149, 63);
}

.wrap-evenement .card-title{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
}

/* new
========================*/

.container_evenement{
    /* background-color: rgb(0, 196, 118); */
    background-image: url('img/foot2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 100px 0;

}

.wrap-evenement2 {
    width: auto;
    border-radius: 10px;
    padding: 55px;
    /* margin: 0 30px; */
    /* background: #9152f8; */
    background: -webkit-linear-gradient(top, gold, #151515);
    background: -o-linear-gradient(top, gold, #151515);
    background: -moz-linear-gradient(top, gold, #151515);
    background: linear-gradient(top, gold, #151515);
    opacity: .98;

}


.wrap-evenement2 h2{
    padding: 10px 0;
    font-size: 2rem;
}


.wrap-evenement table a:hover{
    color: #ac0968;
}

/* .wrap-evenement li .club_link {
    color: gold;
    padding: 10px 0;

} */




/* index
========================*/
.wrap-evenement {
    /* background-image: url('img/foot2.jpeg'); */

    width: auto;
    /* padding: 55px; */
    /* margin: 0 30px; */
    /* background: #9152f8; */
    /* background: -webkit-linear-gradient(top, gold, #151515);
    background: -o-linear-gradient(top, gold, #151515);
    background: -moz-linear-gradient(top, gold, #151515);
    background: linear-gradient(top, gold, #151515); */
    border-radius: 0;

}
.container_evenement{
    /* background-color: rgb(0, 196, 118); */
    /* background-image: url('img/foot2.jpeg'); */
    /* background-size: cover;
    background-repeat: no-repeat; */ 
    color: #fff;
    padding: 100px 0;
    border-radius: 0;

} 



.wrap-evenement p{
    padding: 10px 0;
    /* font-family: 'Roboto', sans-serif; */
}

.wrap-evenement h2{
    padding: 10px 0;
    font-size: 2rem;
}


.wrap-evenement table a:hover{
    color: #ac0968;
}

/* .wrap-evenement li .club_link {
    color: gold;
    padding: 10px 0;

} */

/* Table
************************* */

.wrap-evenement th{
    padding: 30px 0;
    text-align: center;
    font-size: 1.8rem;
    
}


.wrap-evenement table a{
    color: rgb(66, 66, 65);
}

.wrap-evenement table {
    margin: 40px 0;
    line-height: 30px;

}

.wrap-evenement thead{
    /* background-color: #FFC107 ; */
    background-color: #333333;
    color: #FFC107;
    
}

.wrap-evenement .name_evenement{
    font-weight: 900;
    font-size: 1.4rem;

}

.wrap-evenement .city_evenement{
    /* font-weight: 900; */
    font-size: .8rem;
    
}

.wrap-evenement .date_evenement{
    font-weight: 900; 
    font-size: 1.2rem;
    

}

.p_events {
    margin-bottom: 40px;
}

.p_events p{
    margin: 0 40px 0px 40px;
    
}



/* Register
================== */
.wrap-login2 {
    width: auto;
    border-radius: 10px;
    padding: 55px;
    /* margin: 0 30px; */
    /* background: #9152f8; */
    background: -webkit-linear-gradient(top, gold, #069d2f);
    background: -o-linear-gradient(top, gold, #151515);
    background: -moz-linear-gradient(top, gold, #151515);
    background: linear-gradient(top, gold, #151515);
    opacity: .98;

}
