.jumbotron
{
    background-image: url('img/stade.jpeg');
    background-size: cover;
    color: rgb(255, 251, 7);
    height: 500px;
    border-radius: 0;
}   
.jumbotron_football
{
        background-image: url('img/joueurcontrole.jpg');
        background-size: cover;
    
        color: rgb(255, 251, 7);
        height: 450px;
        border-radius: 0;
}



