.jumbotron
{
    background-image: url('img/stade.jpeg');
    background-size: cover;
    color: gold;
    height: 600px;
    height: 500px;
    border-radius: 0;
}   
.jumbotron_football
{
        background-image: url('img/joueurcontrole.jpg');
        background-size: cover;
    
        color: rgb(255, 251, 7);
        height: 450px;
        border-radius: 0;
}

header{
    /* height: 550px; */
  width: 100%;
  overflow: hidden;
}

header img {
    
    /* opacity: 0.8; */
/* overflow: inherit; */

    
}

.carousel .item {
    max-height: 300px;
  }

.carousel-inner {
position: relative;
width: 100%;
height: 100%;
overflow: hidden;
}
