.container_login{
    /* background-color: rgb(0, 196, 118); */
    background-image: url('img/foot2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 100px 0;

}

.wrap-login {
    width: auto;
    border-radius: 10px;
    padding: 55px;
    /* margin: 0 30px; */
    /* background: #9152f8; */
    background: -webkit-linear-gradient(top, gold, #151515);
    background: -o-linear-gradient(top, gold, #f80552);
    background: -moz-linear-gradient(top, gold, #f80552);
    background: linear-gradient(top, gold, #f80552);
    opacity: .98;

}

.container_login p{
    padding: 10px 0;
}

.container_login h2{
    padding: 10px 0;
    font-size: 2rem;
}