html, body {
    font-family: 'Roboto', sans-serif;
    /* width: 100%; */
}

/* Login-in login-out */
.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}
.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

/*=========================
Index
=========================== */
.section1{
    background-color: #e8e8e8;
    padding: 60px 0;
}

.section1 h2{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase; 
    font-size: 3rem;
    color: #615f5f;;
    padding-bottom: 70px;
}

.scorenco{
    padding-bottom: 30px;
}

/******* */

.section2{
    /* background-color: #be0000; */
    background-image: url('img/foot2.jpeg');
    /* effet parallax */
    height: 700px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: rgba(206, 130, 183, 0.007) */
    /* opacity: 0.8; */
    
    /* padding: 90px 0; */
}

.section2 h2{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase; 
    font-size: 3rem;
    color: #fff;
    padding-bottom: 80px;
    padding-top: 50px;
}

/******* */


.section3 h2{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase; 
    font-size: 3rem;
    color: #fff;
    padding-bottom: 80px;
    padding-top: 50px;
}

/* .section3 .googlemap iframe {
    margin-top: -80px;
    height: 590px ;
    width: 600px ;
} */

/* google map */
.googlemap {
    background-color: #ffc107;
    color: #FFFFFF;
    padding: 60px 0;
}
.googlemap iframe {
    margin-top: -120px; 
    height: 380px !important;
    width: 100% !important;
}

/* Formulaire */
.googlemap form {
    padding-top: 50px;
}

/************************** */
.section4{
    background-color: #f1f1f1;
    padding: 60px 0;
    height: 500px; 

}

.section4 a{
    color: #fffbfb;
}

.section4 li a{
    color: #ac0968;
}

.section4 h2{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase; 
    font-size: 3rem;
    color: #615f5f;;
    padding-bottom: 40px;
}

.border_section4{
    border: 1px solid gold;
    padding: 60px 0;
}

.choose_evenement{
    margin: 30px 0;
}

.choose_evenement .btn{
    width: 150px;
}

/*=========================
Sport
=========================== */

.backgd {
    background-color:#00BB69;
}

#sticky-sidebar a {
    color: #fff;
    
}

#sticky-sidebar a:hover {
    color: gold;
}

#sticky-sidebar .card {
    border-radius: 0px;
}

.yellow{
    color: gold;
    
}

.backgd_newsletter{
    background-color:rgb(119, 119, 119);

}

.backgd_news{
    background-color:rgb(248, 242, 242);

}

#sticky-sidebar .container-fluid2{
   margin-top: 100px;
 
}

/*====================== 
Profil
======================= */







