html, body {
    font-family: 'Roboto', sans-serif;
}
/* Login-in login-out */
.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}
.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

/* Sport
============== */

.backgd {
    background-color:#00BB69;
}

a {
    color: #fff;
    
}

a:hover {
    color: gold;
}

.card {
    border-radius: 0px;
}

.yellow{
    color: gold;
    
}

.backgd_newsletter{
    background-color:rgb(119, 119, 119);

}

.backgd_news{
    background-color:rgb(248, 242, 242);

}

.container-fluid2{
   margin-top: 100px;
 
}


