nav
{
    background-color: #1f2022ef!important;    
    color: rgb(255, 251, 7);
    font-size: 1.1rem;
    border-radius: 0;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

/* navColor link */
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

/* navColor link:hover */
.navbar-dark .navbar-nav .nav-link:hover {
    color: gold;
    -webkit-transition:  1s; /* Safari */
    transition:  1s;
}


.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #f00;
    font-weight: 1000;
}






