/* header (image+texte) */

.imgheader
{
    background-image: url('img/familletv.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    /* width: 100%; */
    border-radius: 0;
}

.imgheader h1{
    font-family: 'Oswald';
}

.imgheader .text-center{
    color: white;
    font-size: 80px;
    padding-top: 300px;
    
} 

.textheader{
    color: white;
    text-align: center;
    font-size: 40px;
}


/* barre de reseaux sociaux */
.presentation{
    margin-top: 7%;
    color: #D3D3D3;
    font-size: 18px;
    text-align: center;

}

.contact-social-wrap{
    margin: 8%;
}

.contact-socials a{
    padding: 52px 30px 20px 30px;
    margin-top: 10%;
    margin-bottom: 10%;
    
}


/* mini cartes contact avec nos 3 noms */

#cardgroup .card-group{
    font-family: 'Oswald';
    padding-bottom: 70px;  
    
}

#cardgroup .card-group .card.body{
    padding:15px;
    margin-bottom: 7%;
}

.name.phone.mail{
    padding-left: 10px; 
   
}

.map-example{
  /* transform: skew(-10deg); */
  background-image: url('public/img/projo.jpg');
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* height: 700px; */
  /* width: 100%; */
 
  
} 

#map{
    margin-top:80px;
    margin-bottom:20px;
    border-radius: 5%;
}

.textcontact{
    margin-top:80px;
    color: white;
    font-family: 'Oswald';
}

/* @media (max-width: 1024px) {
    html { font-size: 0.5em!important; }
    }
    
@media (max-width: 980px) {
    html { font-size: 0.8em!important; }
}
     */





