/* header (image+texte) */

.imgheader
{
    background-image: url('img/familletv.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    border-radius: 0;
}

.imgheader h1{
    font-family: 'Oswald';
}

/* .text-center{
    color: white;
    font-size: 80px;
    padding-top: 300px;
} */

.textheader{
    color: white;
    text-align: center;
    font-size: 40px;
}


/* barre de reseaux sociaux */
.presentation{
    color: #D3D3D3;
    font-size: 18px;
    text-align: center;
}

.contact-socials.mx-auto{
    padding: 30px;
}


/* mini cartes contact avec nos 3 noms */
/* .card-group{
    font-family: 'Oswald';
    padding-bottom: 70px;  
}

.card.body{
    padding:15px;
} */

.name.phone.mail{
    padding-left: 10px; 
   
}

.map-example{
  /* transform: skew(-10deg); */
  background-image: url('public/img/projo.jpg');
  /* background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
  width: 100%; */
  border-radius: 0;
  
} 

#map{
    margin-top:80px;
    margin-bottom:20px;
}

.textcontact{
    margin-top:80px;
    color: white;
    font-family: 'Oswald';
}







