{% extends 'base.html.twig' %}

{% block body %}
        <div class="container">
          <h1 class="display-3 text-center">MetropoleRouenSport.fr</h1>
          {# <p class="text-center">Welcome This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p> #}
          <p class="text-center"><a class="btn btn-danger btn-md " href="#" role="button">En savoir Plus &raquo;</a></p>
        </div>
      </header>

    <div class="container">
        <h2>Les derniers résultats</h2>
    </div> <!-- /container -->

{% endblock %}