{% extends 'base.html.twig' %}
{% block title %}Football{% endblock %}
{% block slider %}{% include 'slider_football.html.twig' %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row" >
            <div class="col-6" >  
                <h1>Football</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus qui dolorem commodi nostrum quas recusandae fugiat dolore quam corrupti iusto non reprehenderit voluptas eos, corporis facilis porro, nihil, praesentium consequuntur.</p>
                        <div class="liste club">
                            <h2> <p>Liste des clubs </p> </h2> 
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nulla unde. Sequi exercitationem omnis velit aspernatur, quibusdam at fugit quas error fuga a ex harum, numquam illum ipsum sint sunt. </p>
                        </div>
                        <div class="classement">
                            <h2><p>Classement </p></h2>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nulla unde. Sequi exercitationem omnis velit aspernatur, quibusdam at fugit quas error fuga a ex harum, numquam illum ipsum sint sunt. </p>
                        </div>
                        <div class="Résultat">
                            <h2><p>Résultat </p> </h2>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nulla unde. Sequi exercitationem omnis velit aspernatur, quibusdam at fugit quas error fuga a ex harum, numquam illum ipsum sint sunt. </p>
                        </div>
                        <div class="Newsletter">
                           <h2> <p>Newsletter </p> </h2>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nulla unde. Sequi exercitationem omnis velit aspernatur, quibusdam at fugit quas error fuga a ex harum, numquam illum ipsum sint sunt. </p>
                        </div>
            </div>

        <div class="col-6" 
            <div class="agendafootball" > 
                <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.5/iframeResizer.min.js"></script><script>if(!window._rsz){window._rsz=function(){var i=iFrameResize({checkOrigin:false,interval:100});};if(document.readyState!="loading"){_rsz()}else{document.addEventListener("DOMContentLoaded",_rsz)}}</script><iframe id="5b1687ad2d62f40d567cffdb" src="https://scorenco.com/widget/5b1687ad2d62f40d567cffdb/?auto_height=true" style="display: block; width: 100%; overflow: auto; margin: auto; border-width: 0px;" scrolling="no"></iframe>    
            <div>
        </div>
    </div>

{% endblock %}