{% extends 'base.html.twig' %}

{% block body %}
       <div class="container">
            <div class="row">
                <div class="col-6">
                    <h1>Basket Agenda</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus qui dolorem commodi nostrum quas recusandae fugiat dolore quam corrupti iusto non reprehenderit voluptas eos, corporis facilis porro, nihil, praesentium consequuntur.</p>
                </div>
                <div class="col-6">
                    <h1>Basket  Agenda</h1>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Non commodi harum beatae, est nemo cumque at odit doloremque quasi eligendi quam esse sint quis, molestiae, libero eos sunt nisi? Beatae. </p>            
                </div>
            </div>    
        </div> 
    
{% endblock %}