{% extends 'base.html.twig' %}
{% block title %}Modifier Profil{% endblock %}
{% block slider %}{% include 'slider_change_mdp.html.twig' %}{% endblock %}


{% block body %}
    {% block fos_user_content %}
     <div class="container-fluid">
            <div class="row container_login">             
                <div class="col-md-7 mx-auto wrap-edit-profil">
                    <h2 class="text-center">Modifier</h2>    
                    {% trans_default_domain 'FOSUserBundle' %}
                    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                    {{ form_widget(form) }}
                    <div>
                        <input class="btn btn-block btn-danger" type="submit" value="{{ 'change_password.submit'|trans }}" />
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    {% endblock fos_user_content %}
{% endblock body %}
