{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Rugby Agenda</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus qui dolorem commodi nostrum quas recusandae fugiat dolore quam corrupti iusto non reprehenderit voluptas eos, corporis facilis porro, nihil, praesentium consequuntur.</p>
    </div> <!-- /container -->

{% endblock %}