{% extends 'layout.html.twig' %}


{% block title %}Page affichant la liste des utilisateurs{% endblock %}

{% block body %} 

<div class="container">
        <h3>Liste des utilisateurs :</h3>
        
</div>

{% endblock body %} 


              