
<footer class="footer-distributed" >	
	<div class="footer-left">
		<h3>Rouen Metropole<span> Sport </span></h3>
		<p class="footer-links">
			<a href="#">Page d'acceuil- </a>
			<a href="#">Nous contacter-</a>
			<a href="#">La politique de confidentialité</a>	
		</p>
		<p class="footer-company-name">Metropole Rouen Sport &copy; 2018</p>
	</div>

	<div class="footer-center">
		<div>
			<i class="fa fa-map-marker"></i>
			<p><span>Rouen Metropole Sport</span> Rouen, France</p>
		</div>

		<div>
			<i class="fa fa-phone"></i>
			<p>+33 6 54 32 89 09</p>
		</div>

		<div>
			<i class="fa fa-envelope"></i>
			<p><a href="mailto:rouenmsport@gmail.com">rouenmsport@gmail.com</a></p>
		</div>

	</div>

	<div class="footer-right">
		<p class="footer-company-about">
			<span>A propos de l'entreprise</span>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus rem laboriosam deserunt, distinctio quae blanditiis minus eius unde! At sit praesentium tempora est, reiciendis eum? Aperiam repellendus quos provident ut.
		</p>

		<div class="footer-icons">
			<a target="_blank"  href="https://www.facebook.com/Métropole-Rouen-Sport-170635346965228/?hc_ref=ARQbT-V7WTTY9FBJw-VjjNMSERyGZvehhoSKjSlgk_tfQijVj_jilEJahXRvY52TKHM"><i class="fa fa-facebook"></i></a>
			<a target="_blank" href="https://twitter.com/SportRouen"><i class="fa fa-twitter"></i></a>
			<a target="_blank" href="https://www.linkedin.com/company/metropolerouensport/"><i class="fa fa-linkedin"></i></a>
			<a target="_blank" href="https://www.instagram.com/rouenmetropolesport/"><i class="fa fa-instagram"></i></a>
			<a target="_blank" href="https://www.youtube.com/channel/UC3wskFl2Dm9H4PZfQ6zBnxA"><i class="fa fa-youtube"></i></a>
			
		</div>

	</div>
</footer>
   




