
<footer class="main-footer">
    <!--Google Maps-->
    {# <div class="googlemaps">
        <div class="container">
            <div class="googlemap-content">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2594.4354266016853!2d1.1018462000000002!3d49.4384868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e0de7e3153ffff%3A0x3ae23858ef5e17f0!2sNFactory%2C+Incubateur+%26+Acc%C3%A9l%C3%A9rateur+Normand!5e0!3m2!1sfr!2sfr!4v1527846539072" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <!--End Google Maps-->
            </div>
        </div>
    </div> #}

    <!--Social Media-->
    {# <src img="<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 264 512"><path d="M76.7 512V283H0v-91h76.7v-71.7C76.7 42.4 124.3 0 193.8 0c33.3 0 61.9 2.5 70.2 3.6V85h-48.2c-37.8 0-45.1 18-45.1 44.3V192H256l-11.7 91h-73.6v229"/></svg>" 
    <!--End Social Media-->
    <i class="fab fa-facebook-f"></i>
    <!-- Copyright --> 
       <div class="copyright">
            <div class="container">
                &copy; Copyright 2018 Anaïs Team, All Rights Reserved.
            </div>
        </div>
     <!--End Copyright -->  #}
    </footer>
   
    <div class="container text-center">
        <p>&copy; MetropoleRouenSport 2018</p>
    </div>
</footer>



