<!-- Main jumbotron for a primary marketing message or call to action -->
<header class="jumbotron">
    <div class="container">
        <h1 class="display-3 text-center">MetropoleRouenSport.fr</h1>
        <p class="text-center">
            <a class="btn btn-danger btn-md " href="#" role="button">En savoir Plus &raquo;</a>
        </p>
    </div>
</header>
