<header>
    <!-- Slider Flexslider -->
    <div class="flexslider">
        <ul class="slides">
            <li>
            <img src="{{ asset('img/hockey.png')}}" alt="third slide" />
            </li>
            <li>
            <img src="{{ asset('img/basket2.png')}}" alt="Second slide" />
            </li>
            <li>
            <img src="{{ asset('img/foot.png')}}" alt="First slide" />
            </li>
        </ul>
    </div>
</header>
