<header class=" jumbotron-profil">
    <div class="container">
        <h1 class="display-3 text-center">Bienvenue <span class="text-warning text-capitalize">{{ user.username }} </span></h1>
    </div>
</header>
