
{# barre des boutons réseaux sociaux #}

    <div class="over-wrap">
        <div class="toolbar-wrap">
            <div class="social-top">
                    <a href="#"><span class="fab fa-facebook-f"></span></a>
                    <a href="#"><span class="fab fa-instagram"></span></a>
                    <a href="#"><span class="fab fa-youtube"></span></a>
                    <a href="#"><span class="fab fa-twitter"></span></a>
                    <a href="#"><span class="fab fa-snapchat"></span></a>                                    
            </div>
        </div>
    </div>

  






