{% extends 'base.html.twig' %}

{% block body %}
      {# main contenair #}
    <div class="container">
        <h2>Evenement Sportif à Rouen le ... à ...</h2>
    

                <!-- Section header -->
                <div class="section-header">
                    <h3 class="section-title"> Les Sports</h3>
                    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis saepe, laboriosam rerum beatae ipsam quisquam neque laudantium. Aperiam commodi cumque, dolores ab tempora, assumenda cupiditate eius, esse consequatur maxime autem?</p>
                </div>
                <!-- end .section-header -->

                <!-- Liste des sports -->
                <div class="row">
                    
                    <!-- column -->
                    <div class="col-8">
                        <div class="content" data-name="Basket" >
                            <div class="content-body">
                                <h5 class="content-title">Basket</h5>
                                <p class="content-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="contact">
                            

                        </div>
                    </div>
    </div>
                    <!-- end - column -->
   

    



{% endblock %}