{% extends 'base.html.twig' %}   
       
{% block body %}
    
    <div class="container">
        <h2 class="text-center"> Evenements Sportifs à Rouen et alentours</h2>
    <br>  

{% block evenement %}
   
    
{% endblock %}

{% endblock body %}
