{% extends 'baseevenement.html.twig' %}   
       
{% block body %}
    
    <div class="container">
        <h2>Evenements Sportifs à Rouen et alentours</h2>
    
    <br>  

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom de l'événement</th>  
      <th scope="col">Sport</th>
      <th scope="col">Lieu</th>
      <th scope="col">Date et heure</th>
      <th scope="col">Description</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>French Cup</td>
      <td>Patinage artistique</td>
      <td>Rouen</td>
      <td>Février</td>
      <td>Pendant trois jours et courant février, la French Cup est une épreuve sportive qui rassemble plus de 700 patineurs de tous continents depuis près de 15 ans. </td>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>24 heures motonautiques</td>
      <td>Motonautiques</td>
      <td>Rouen</td>
      <td>Mai</td>
      <td>La course se déroule sur la Seine autour de l’île Lacroix. Durant quatre jours, les visites des stands, rencontres avec les pilotes, animations et essais libres se succèdent le week-end du 1er mai avant le grand départ de la course.</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Seine Marathon 76</td>
      <td>Course à pied</td>
      <td>Rouen</td>
      <td>Septembre</td>
      <td>Courses pour tous (5Kms, 10kms, semi-marathon et marathon)</td>
      
    </tr>

      <tr>
      <th scope="row">4</th>
      <td>Zumba</td>
      <td>Zumba</td>
      <td>Rouen</td>
      <td>Tous les 1er lundi du mois à 19h</td>
      <td>Séances de zumba organisées au Kindarena, dans le cadre des rendez-vous sport de la Métropole. L’occasion de venir se défouler sur de la musique rythmée et dynamique. Une animation proposée par la Métropole Rouen Normandie en partenariat avec l'Elan Gymnique Rouennais. PARTICIPATION GRATUITE ET SANS INSCRIPTION</td>
      
      
    </tr>
  </tbody>
</table>
{% endblock body %}
