{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}


{% block body %}
    <div class="container">
        <h2>Les derniers résultats</h2>
    </div> <!-- /container -->

    {# <script>console.log('Hello')
    alert("Hello! I am an alert box!!");
    </script> #}
{% endblock %}

 
