{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block css %}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.5/iframeResizer.min.js"></script>
           
{% endblock %}

{% block body %}
    <section class="section1">
        <div class="container">
            <h2>Derniers <span class="text-warning">Résultats</span></h2>
            <div class="row">
                <div class="col-md-4 scorenco">
                    <script>if(!window._rsz){window._rsz=function(){var i=iFrameResize({checkOrigin:false,interval:100});};if(document.readyState!="loading"){_rsz()}else{document.addEventListener("DOMContentLoaded",_rsz)}}</script>
                    <iframe id="5b110cc1415f9332a5d32e60" src="https://scorenco.com/widget/5b110cc1415f9332a5d32e60/" style="display: block; width: 80%; overflow: auto; margin: auto; border-width: 0px;" scrolling="no">
                    </iframe>
                    <br>
                </div>

                <div class="col-md-4">
                    <script>if(!window._rsz){window._rsz=function(){var i=iFrameResize({checkOrigin:false,interval:100});};if(document.readyState!="loading"){_rsz()}else{document.addEventListener("DOMContentLoaded",_rsz)}}</script>
                    <iframe id="5b110cc1415f9332a5d32e60" src="https://scorenco.com/widget/5b110cc1415f9332a5d32e60/" style="display: block; width: 80%; overflow: auto; margin: auto; border-width: 0px;" scrolling="no">
                    </iframe>
                    <br>
                </div>

                <div class="col-md-4">
                    <script>if(!window._rsz){window._rsz=function(){var i=iFrameResize({checkOrigin:false,interval:100});};if(document.readyState!="loading"){_rsz()}else{document.addEventListener("DOMContentLoaded",_rsz)}}</script>
                    <iframe id="5b110cc1415f9332a5d32e60" src="https://scorenco.com/widget/5b110cc1415f9332a5d32e60/" style="display: block; width: 80%; overflow: auto; margin: auto; border-width: 0px;" scrolling="no">
                    </iframe>
                    <br>
                </div>
            </div>
    </section>
          
    <section class="section2">
        <h2><span class="text-warning">Prochain</span> Match</h2>
        <div class="container border_sport">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.5/iframeResizer.min.js"></script><script>if(!window._rsz){window._rsz=function(){var i=iFrameResize({checkOrigin:false,interval:100});};if(document.readyState!="loading"){_rsz()}else{document.addEventListener("DOMContentLoaded",_rsz)}}</script><iframe id="5b1e3e0d04938f1221ed253d" src="https://scorenco.com/widget/5b1e3e0d04938f1221ed253d/" style="display: block; width: 80%; overflow: auto; margin: auto; border-width: 0px;" scrolling="no"></iframe><a style="font-size:11px" href="https://scorenco.com/football/clubs/us-mesnil-esnard-franqueville/"></a>
            
            <script>if(!window._rsz){window._rsz=function(){var i=iFrameResize({checkOrigin:false,interval:100});};if(document.readyState!="loading"){_rsz()}else{document.addEventListener("DOMContentLoaded",_rsz)}}</script><iframe id="5b110b10415f93466cbc6803" src="https://scorenco.com/widget/5b110b10415f93466cbc6803/" style="display: block; width: 80%; overflow: auto; margin: auto; border-width: 0px;" scrolling="no"></iframe>
        </div>
    </section>

    <section class="section4">
        <div class="container">
            <div class="container text-center border_section4">
                <h2>Partage ton <span class="text-warning">évènement</span> ou ton <span class="text-warning">club</span></h2>
                <p>Vous souhaitez partager votre évènement ou votre club. Cliques et remplis le formulaire.<br> Une fois vérifié, il sera mis en ligne sous 48h maximum.</p>
                
                <div class="choose_evenement">
                    <a class="btn btn-danger btn-lg" href="{{ path('evenements_new') }}" role="button">Evènement</a>
                    <a class="btn btn-warning btn-lg" href="{{ path('club_new') }}" role="button">Club</a>
                </div>
                <ul class="nav justify-content-center">
                    <li class="club_link nav-item" >
                        <a href="{{ path('evenements_index') }}" class="nav-link">Voir les évenements</a>
                    </li>
                    <li class="club_link" >
                        <a href="{{ path('club_index') }}" class="nav-link" >Voir les clubs</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </section>
        
    <section class="section3">
        {# <h2> Adresse et contact</h2> #}
        <div class="googlemap">
            <div class="container">
            <!--GoogleMpas-->
                {# <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d40496.15573087305!2d3.1346278!3d50.626936!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1516871038733"
                frameborder="0" style="border:0" allowfullscreen></iframe> #}
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2594.435427694202!2d1.0996575156706334!3d49.43848677934854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e0de7e3153ffff%3A0x3ae23858ef5e17f0!2sNFactory%2C+Incubateur+%26+Acc%C3%A9l%C3%A9rateur+Normand!5e0!3m2!1sfr!2sfr!4v1528119660202" frameborder="0" style="border:0" allowfullscreen></iframe> 

            <!--Contact Form-->
                <form>
                    <div class="form-row">
                        <div class="col">
                        <input type="text" class="form-control" placeholder="Prénom">
                        </div>
                        <div class="col">
                        <input type="text" class="form-control" placeholder="Nom">
                        </div>
                        <div class="col">
                        <input type="text" class="form-control" placeholder="E-mail">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1"></label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Votre message"></textarea>
                    </div>
                    <div class="row container pb-5">
                        <button type="submit" class="btn btn-success mr-auto ml-auto">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
      <!-- Form -->
          
        </div>

      </div>
    </section> 
    <!-- end section adresse -->
{% endblock %}

 
