{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block css %}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.5/iframeResizer.min.js"></script>
           
{% endblock %}

{% block body %}
    <div class="container">
        <h2>Les derniers résultats</h2>
                <h3>Football</h3>
            {# Quévilly Rouen Métropole #}
                <script>if(!window._rsz){window._rsz=function(){var i=iFrameResize({checkOrigin:false,interval:100});};if(document.readyState!="loading"){_rsz()}else{document.addEventListener("DOMContentLoaded",_rsz)}}</script><iframe class="" id="5b10fb3a80cf1e76c88f827b" src="https://scorenco.com/widget/5b10fb3a80cf1e76c88f827b/?auto_height=true" style="display: block; width: 80%; overflow: auto; margin: auto; border-width: 0px;" scrolling="no"></iframe>
                <hr>
            
            <script>if(!window._rsz){window._rsz=function(){var i=iFrameResize({checkOrigin:false,interval:100});};if(document.readyState!="loading"){_rsz()}else{document.addEventListener("DOMContentLoaded",_rsz)}}</script><iframe id="5b110b10415f93466cbc6803" src="https://scorenco.com/widget/5b110b10415f93466cbc6803/?auto_height=true" style="display: block; width: 80%; overflow: auto; margin: auto; border-width: 0px;" scrolling="no"></iframe>

                <h3>Hockey</h3>
                <script>if(!window._rsz){window._rsz=function(){var i=iFrameResize({checkOrigin:false,interval:100});};if(document.readyState!="loading"){_rsz()}else{document.addEventListener("DOMContentLoaded",_rsz)}}</script><iframe id="5b110cc1415f9332a5d32e60" src="https://scorenco.com/widget/5b110cc1415f9332a5d32e60/?auto_height=true" style="display: block; width: 80%; overflow: auto; margin: auto; border-width: 0px;" scrolling="no"></iframe>
            </div>
        
            {# <img class="card-img-top" src="img/2.jpg" alt="Card image cap"> #}
        
    </div> <!-- /container -->

{% endblock %}

 
