{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}


{% block body %}
    <div class="container">
        <h2>Les derniers résultats</h2>


        <div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.5/iframeResizer.min.js"></script><script>if(!window._rsz){window._rsz=function(){var i=iFrameResize({checkOrigin:false,interval:100});};if(document.readyState!="loading"){_rsz()}else{document.addEventListener("DOMContentLoaded",_rsz)}}</script><iframe id="5afd3949686ce6594e162923" src="https://scorenco.com/widget/5afd3949686ce6594e162923/?auto_height=true" style="display: block; width: 100%; overflow: auto; margin: auto; border-width: 0px;" scrolling="no"></iframe><a style="font-size:11px" href="https://scorenco.com/football/clubs/quevilly-rouen-metropole/">Quevilly Rouen Métropole sur Score n'co</a>





        </div>
    </div> <!-- /container -->

{% endblock %}

 
